# Node & Frontend
node_modules
dist
dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Python & ML
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
venv/
.venv/
env/

# Datasets (Keep sample file, ignore heavy 100MB+ raw dataset)
data/creditcard.csv

# Environment & IDE
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log
